@import url('https://fonts.googleapis.com/css2?family=Poppins&family=REM&display=swap');
*{
    margin: 0 0 0 0;
    font-family: 'REM', sans-serif;
    background-color: rgb(41, 41, 41);
}
.main{
    height: 100%;
    width: 100%;
}
.main-credit-card{
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    height: 300px;
    width: 476px;
    top: 20%;
    left: 50%;  
    position: absolute;
    
}
.front{
    height: 100%;
    width: 100%;
    background-color:rgb(104, 104, 104);
    border-radius: 15px;
    position: absolute;   
    backface-visibility: hidden;
}



.chip{
    height: 100px;
    position: absolute;
    background: rgba(0,0,0,0);
}

.visa{
    background:rgba(0,0,0,0);
    height: 80px;
    position: absolute;
    right: 3%;
    top: 8%;
}

.number{
    font-size: 40px;
    font-weight: 500;
    background:rgba(0,0,0,0);
    color: white;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.name{
    font-size: 30px;
    font-weight: 500;
    background:rgba(0,0,0,0);
    color: white;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 100%;
    left: 10%;
}

.date{
    font-size: 20px;
    font-weight: 500;
    background:rgba(0,0,0,0);
    color: white;
    position: absolute;
    top: 80%;
    right: 10%;
    text-align: center;
    transform: translateY(-50%);
}

.form{
    position: absolute;
    height: 100%;
    width: 50%;
}

.input{
    margin-top: 5%;
    font-size: 20px;
    color: white;
}

.label{
    font-size: 20px;
    color: white;
}

.back {
    height: 100%;
    width: 100%;
    background-color:rgb(0, 140, 255);
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotate3d(0,1,0,180deg);
}



.black-bar{
    width: 100%;
    height: 20%;
    background-color: rgb(7, 7, 7);
    margin-top: 5%;
}

.cvv-box{
    margin-top: 5%;
    margin-left: 5%;
    width: 70%;
    height: 18%;
    background-color: white;
}

.cvv-box h1{
    background-color: white;
    font-size: 25px;
    float: right;
    margin-top: 3%;
    margin-right: 2%;
}

.back-img{
    background:rgba(0,0,0,0);
    height: 80px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

